

*{box-sizing: border-box;}


/* ---------------------------------------------header----------------------------------------- */
header div {background-image: url("../img/6aeb7d694134a550973532fca367ba1a.jpg");

background-size:cover;
background-position: 40%;
background-repeat: repeat-x;
height: 450px;
width: 100%;
}

#nav {
    width: 500px;
    position: relative;
    left: 70%;
}
    


  




#img1 {width: 250px;
height: 250px;
border-radius: 50%;
border: 10px solid white;
position: relative;
top: 10px;
left: 40%;
}

header h1 {
    font-size:x-large;
    color: white;
    font-family: 'Lora', serif;
    position: relative;
    top: 20px;
    left: 40%;
    font-size:xx-large;
    width:310px;
  
}

/* --------------------------------------------main--------------------------------------- */

.container {
    
    background-color: #e5e5e5;
   
    
}

/*----------------------------------------- objective--------------------------------------------- */

#objective {
    background-color: #bdbebe;
    border: 3px solid black;
    width: 80%;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
    font-size: large;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Lora', serif;
}

/*--------------------------------------------- EDUCATION -------------------------------------*/

.h1 { background-color: #bdbebe;
    position: relative;
    width: 300px;
    text-align: center;
    margin-left: 36%;
    font-family: 'Lora', serif;
    border: 3px solid black;


}

.h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 3px;
    background-color: black;
    left: 110%;
    top: 50%;
}


.h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    right:110%;
    top: 50%;
    
  }

    



.parent {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 6%;

}


.box {
background-color: #bdbebe;
border: 3px solid black;
width: 200px;
height: 250px;
margin: 20px;

}



.box h3 { font-size:medium;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lora', serif;
    font-weight:600;


}


.box p {
    font-size:small;
    font-family: 'Lora', serif;
    font-weight: 300;
    padding: 20px;


}

.box button {
    position: relative;
    left: 90px;
    top: 20px;

}

.box button a {
    text-decoration: none;
    color: black;
}

/*----------------------------------------------------- projects------------------------------------------ */
 .padding {
     margin-top: 60px;
     font-family: 'Lora', serif;
     width: 350px;
 
 }




.parent2 {
width:90% ;
height: 100%;
display: grid;
grid-row: repeat (3,300px);
grid-column: repeat (3,300px);
padding: 8%;
column-gap: 50px;
margin-top: 20px;
margin-bottom: -20px;

}

.hover {position: relative;}

.img {
    width: 250px;
    height: 200px;
    border: 3px solid black;
    position: relative;
    opacity: 1;
}

.button {
    position: absolute;
    opacity: 0;
    top: 140px;
    left: 150px;
    width: 110px;
   
    
}

.text
{
    background-color: white;
    color: black;
    font-family: 'Lora', serif;
    border: 1px solid black;
    height: 35px;
    padding-left: 15px;
    padding-top: 3px;

}



.hover:hover .img {
    opacity: 0.3;
}


.hover:hover .button {
    opacity: 1;
}






.parent2 div:nth-child(1) {
    grid-area: 1/1;
}

.parent2 div:nth-child(2) {
    grid-area: 1/2;
}

.parent2 div:nth-child(3) {
    grid-area: 1/3;
}

.parent2 div:nth-child(4) {
    grid-area: 2/1;
}

.parent2 div:nth-child(5) {
    grid-area: 2/2;
}

.parent2 div:nth-child(6) {
    grid-area: 2/3;
} 



.parent2 div h5 {
    background-color: #bdbebe;
    border: 3px solid black;
    margin-top: 20px;
    font-size: large;
    height: 100px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Lora', serif;
    text-align: center;
}

ul {
    list-style: none; 
}

li { 
    display: inline-block;
    font-family: 'Lora', serif;
}

li a{
    color: rgb(243, 140, 140);

}

/*--------------------------------------------------- Experience----------------------------- */

#text {
    background-color: #bdbebe;
    border: 3px solid black;
    width: 80%;
    height: 100px;
    margin-left: 100px;
    font-size: medium;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Lora', serif;
    margin-top: 80px;
    
}

/* ---------------------------------------------footer--------------------------------------  */

.footer {
    background-color: #bdbebe;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    font-family: 'Lora', serif;
    padding-left: 15%;
    
}

.footer div {
    
    width: 250px;
    height: 200px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    margin-left: 5%;
    
}

.footer div p {
    padding-top: 20px;
}

.footer div h5 {
    font-weight: bolder;
}

.footer div p a {
    color: #000;
}
/*-------------------------------------------------- media 992px-------------------------------------------- */


@media (min-width: 992px) and (max-width:1199px) {
    #objective {
        padding-left: 30px;
        padding-top: 10px;}

    .h1::before {
            width: 90%;
            left: 110%;
        }
        
        
    .h1::after {
            width: 105%;
            right:110%;
          }


    .parent {
        justify-content: center;
        }
        
        .padding {
            margin-left: 32%;
        }
           

        .padding::before {
            width: 70%;
            left: 110%;
        }
        
        
    .padding::after {
            width: 75%;
            right:115%;
          }
       
       
    .parent2 {
            padding: 18%;
            grid-row: repeat (6,300px);
            grid-column: repeat (2,300px);
          
            }

         .parent2 div:nth-child(1) {
                grid-area: 1/1;
            }
            
         .parent2 div:nth-child(2) {
                grid-area: 1/2;
            }
            
        .parent2 div:nth-child(3) {
                grid-area: 2/1;
            }
            
        .parent2 div:nth-child(4) {
                grid-area: 2/2;
            }
            
         .parent2 div:nth-child(5) {
                grid-area:3/1;
            }
            
         .parent2 div:nth-child(6) {
                grid-area: 3/2;
            } 

     .footer {
         justify-content: left;
          padding-left: 10%;}

     .footer div {
            width: 200px;
            margin-left: 2%;
        }
        }


   /*---------------------------------------------- Media 768px----------------------------------- */

   @media (min-width: 768px) and (max-width:991px) {
   
    #objective {
        height: 150px;
        margin-left: 70px;
        padding-left: 20px;
    }
    .h1 {
        margin-left: 30%;
    }
    .h1::before {
        width: 50%;
        left: 110%;
    }
    
    
    .h1::after {
        width: 60%;
        right:110%;
      }

    .parent {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15%;
    
    }



    .padding {
        margin-left: 25%;
    }
       

    .padding::before {
        width: 35%;
        left: 110%;
    }
    
    
.padding::after {
        width: 40%;
        right:110%;
      }

    .parent2 {
        padding: 5%;
        grid-row: repeat (6,300px);
        grid-column: repeat (2,300px);
      
        }

     .parent2 div:nth-child(1) {
            grid-area: 1/1;
        }
        
     .parent2 div:nth-child(2) {
            grid-area: 1/2;
        }
        
    .parent2 div:nth-child(3) {
            grid-area: 2/1;
        }
        
    .parent2 div:nth-child(4) {
            grid-area: 2/2;
        }
        
     .parent2 div:nth-child(5) {
            grid-area:3/1;
        }
        
     .parent2 div:nth-child(6) {
            grid-area: 3/2;
        }
        
        
        #text {
            height: 150px;
            margin-left: 70px;
            padding-left: 20px;}
        

     .footer {
         padding-left: 12%;
         font-size: small;
           
           
            height: 300px;
            
            
        }
        
      
       
     .footer div {
          width: 150px;}

     .footer div p {
          padding-top: 20px;
          
        }         
  }


/*---------------------------------------------- Media 576px----------------------------------- */
@media (min-width: 576px) and (max-width: 767px) {


    
    #img1 {
        left: 35%;
        }

    header h1 {
       left: 35%;
        }    


    #objective {
        width: 90%;
        height: 130px;
        margin-left: 25px;
        font-size: medium;
        padding-top: 15px; 
    }

    .h1 {
        width: 300px;
        margin-left: 22%;
    }
    
    .h1::before {
        width: 30%;
        left: 109%; 
    }
    
    
    .h1::after {
        width: 35%;
        right:109%;
      }
    

    .parent {
    
    padding: 25%;
    }

    .parent2 {
        grid-row: repeat (6,300px);
        grid-column: repeat (1,300px);
        padding: 22%;
        margin-top: -20px;
        }


        .parent2 div:nth-child(1) {
            grid-area: 1/1;
        }
        
        .parent2 div:nth-child(2) {
            grid-area: 2/1;
        }
        
        .parent2 div:nth-child(3) {
            grid-area: 3/1;
        }
        
        .parent2 div:nth-child(4) {
            grid-area: 4/1;
        }
        
        .parent2 div:nth-child(5) {
            grid-area: 5/1;
        }
        
        .parent2 div:nth-child(6) {
            grid-area: 6/1;
        } 

        #text {
        
            width: 90%;
            height: 130px;
            margin-left: 30px;
            font-size: medium;
            padding-left: 25px;
        }

        .footer {
            height: 80%;
        }

        
        .footer div p {
            font-size: small;
        }
}
/*---------------------------------------------- Media 576px----------------------------------- */
@media (min-width:480px) and (max-width: 576px) {

    #img1 {
        left: 30%;
        }

    header h1 {
       left: 30%;
        }    
 
        #objective {
            width: 90%;
            height: 170px;
            margin-left: 25px;
            font-size: medium;
            padding-top: 10px; 
        }
    
        .h1 {
            width: 300px;
            margin-left: 18%;
        }
        
        .h1::before {
            height: 0px; 
        }
        
        
        .h1::after {
          height: 0px;
          }
        
    
        .parent {
        
        padding: 25%;
        }


        .box button {
            left: 50px;
            top: 20px;
        
        }
    
        .parent2 {
            grid-row: repeat (6,300px);
            grid-column: repeat (1,300px);
            padding: 22%;
            margin-top: -20px;
            }
    
    
            .parent2 div:nth-child(1) {
                grid-area: 1/1;
            }
            
            .parent2 div:nth-child(2) {
                grid-area: 2/1;
            }
            
            .parent2 div:nth-child(3) {
                grid-area: 3/1;
            }
            
            .parent2 div:nth-child(4) {
                grid-area: 4/1;
            }
            
            .parent2 div:nth-child(5) {
                grid-area: 5/1;
            }
            
            .parent2 div:nth-child(6) {
                grid-area: 6/1;
            } 
    
            #text {
            
                width: 90%;
                height: 160px;
                margin-left: 30px;
                font-size: medium;
                padding-left: 25px;
            }
    
            .footer {
                height: 80%;
            }
    
            
            .footer div p {
                font-size: small;
            }
    }    
 /*---------------------------------------------- Media 400px----------------------------------- */ 
        
        @media (min-width:400px) and (max-width: 479px) {
            #img1 {width:150px;
                height: 150px;
                border: 5px solid white;
                top: 20%;
                left: 35%;
                }
        
        
                header h1 {
                    font-size:larger;
                    top: 30%;
                    left: 30%;
                    width:200px;
                }
        
                #objective {
                    width: 90%;
                    height: 200px;
                    margin-left: 15px;
                    font-size: medium;
                    padding-top: 10px; 
                    padding-left: 15px;
                }
                .h1 {
                    width: 230px;
                    margin-left: 20%;
                    
                }
                
                .h1::before {
                    height: 0px; 
                }
                
                
                .h1::after {
                  height: 0px;
                  }
                    
                .box {
                    margin-left: 20%;
                }
            
                    .box button {
                        left: 40px;
                    }  
                    
                    .parent2 {
                        grid-row: repeat (6,150px);
                        grid-column: repeat (1,150px);
                        
                        margin-top: 20px;
                        width:100% ;
                        margin-bottom: 15%;
        }  
         
         
        
        .parent2 div:nth-child(1) {
            grid-area: 1/1;
        }
        
        .parent2 div:nth-child(2) {
            grid-area: 2/1;
        }
        
        .parent2 div:nth-child(3) {
            grid-area: 3/1;
        }
        
        .parent2 div:nth-child(4) {
            grid-area: 4/1;
        }
        
        .parent2 div:nth-child(5) {
            grid-area: 5/1;
        }
        
        .parent2 div:nth-child(6) {
            grid-area: 6/1;
        }   
            
            .img {
              
                width: 200px;
                height: 150px;
                margin-left: 18%;
            }
        
        
        
        
        #text {
            width: 90%;
            height: 200px;
            margin-left: 15px;  
            padding-left: 10px;
         
        }
        
        .footer {
            height: 100%;
        }
        
        
        }
           
         
        
         
 /*---------------------------------------------- Media 340px----------------------------------- */  
 @media (min-width:340px) and (max-width: 399px) {
    #img1 {width:150px;
        height: 150px;
        border: 5px solid white;
        top: 10%;
        left: 30%;
        }


        header h1 {
            font-size:larger;
            top: 20%;
            left: 30%;
            width:200px;
        }

        #objective {
            width: 90%;
            height: 200px;
            margin-left: 15px;
            font-size: medium;
            padding-top: 10px; 
            padding-left: 15px;
        }
        .h1 {
            width: 230px;
            margin-left: 17%;
            
        }
        
        .h1::before {
            height: 0px; 
        }
        
        
        .h1::after {
          height: 0px;
          }
            
        .box {
            margin-left: 17%;
        }
    
            .box button {
                left: 40px;
            }  
            
            .parent2 {
                grid-row: repeat (6,150px);
                grid-column: repeat (1,150px);
                
                margin-top: 20px;
                width:100% ;
                margin-bottom: 15%;
}  
 
 

.parent2 div:nth-child(1) {
    grid-area: 1/1;
}

.parent2 div:nth-child(2) {
    grid-area: 2/1;
}

.parent2 div:nth-child(3) {
    grid-area: 3/1;
}

.parent2 div:nth-child(4) {
    grid-area: 4/1;
}

.parent2 div:nth-child(5) {
    grid-area: 5/1;
}

.parent2 div:nth-child(6) {
    grid-area: 6/1;
}   
    
    .img {
      
        width: 200px;
        height: 150px;
        margin-left: 13%;
    }




#text {
    width: 90%;
    height: 200px;
    margin-left: 15px;  
    padding-left: 10px;
 
}

.footer {
    height: 100%;
}


}
   
 

 
/*---------------------------------------------- Media 270px----------------------------------- */
 
@media (min-width:280px) and (max-width: 339px) {
    #img1 {width:150px;
        height: 150px;
        border: 5px solid white;
        top: 10%;
        left: 25%;
        }


        header h1 {
            font-size:larger;
            top: 20%;
            left: 20%;
        }

        #objective {
            width: 90%;
            height: 300px;
            margin-left: 15px;
            font-size: medium;
            padding-top: 10px; 
            padding-left: 15px;
        }
        .h1 {
            width: 230px;
            margin-left: 5%;
            
        }
        
        .h1::before {
            height: 0px; 
        }
        
        
        .h1::after {
          height: 0px;
          }

          
            
          
    
            .box button {
                left: 40px;
            }  
            
            .parent2 {
                grid-row: repeat (6,150px);
                grid-column: repeat (1,150px);
                padding-left: 5px;
                margin-top: 20px;
                width:100% ;
                margin-bottom: 15%;
}  
 
 

.parent2 div:nth-child(1) {
    grid-area: 1/1;
}

.parent2 div:nth-child(2) {
    grid-area: 2/1;
}

.parent2 div:nth-child(3) {
    grid-area: 3/1;
}

.parent2 div:nth-child(4) {
    grid-area: 4/1;
}

.parent2 div:nth-child(5) {
    grid-area: 5/1;
}

.parent2 div:nth-child(6) {
    grid-area: 6/1;
}   
    
    .img {
      
        width: 200px;
        height: 150px;
    }




#text {
    width: 90%;
    height: 280px;
    margin-left: 15px;  
    padding-left: 10px;
 
}

.footer {
    height: 100%;
}


}
   
    


    







 
