body {
    background-image: url("https://i.pinimg.com/originals/12/a5/e1/12a5e12cc5e95221055ebcac73d8b8d7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    width: 500px;
    position: relative;
    left: 70%; 
}

nav ul a {
    color: #D82148;
}

nav ul a:hover {color: white; }
    



#h1 {
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    color: #D82148;
    padding-top:100px;

   
}

hr {height: 2px;
background-color:#151D3B}

#div1 {
    background-color:#151D3B;
    color: white;
    width: 80%;
    border-radius: 20px;
    height: 50%;
    padding: 3%;
    padding-top: 50px;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#div2 {
    background-color:#151D3B;
    color: white;
    width: 80%;
    border-radius: 20px;
    height: 50%;
    padding: 3%;
    padding-top: 50px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#form {
    background-color: #151D3B;
    width: 80%;
    height: 50%;
    padding: 3%;
    padding-top: 50px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

* form {
    color: white;
}

#white {
    background-color: white;
}

.input {
    width: 100%;
    height: 50px;
    border: none;
   padding-left: 20px;
}

#head {text-align: center;}

.footer {
    background-color:#151D3B;
    color: white;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    padding-left: 15%;
    
}

.footer div {
    
    width: 250px;
    height: 200px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
    margin-left: 5%;
    
}

.footer div p {
    padding-top: 20px;
}

.footer div h5 {
    font-weight: bolder;
}

.footer div p a {
    color: white;
}



@media (min-width:280px) and (max-width: 339px)  {
    #h1 {
        
        width: 250px;  
    }
    
    #div1 {
        
        width: 90%;
        border-radius: 20px;
        padding-top: 30px;
    }
    
    #div2 {
        
        width: 90%;
        border-radius: 20px;
        padding-top: 30px;
    }
}

@media (min-width:280px) and (max-width: 991px)  {


    .footer {
     
        height: 600px;
    
        
    }



}

